<html>
    <head>
        <%-include('__bootstrap.ejs')%>
    </head>
    <body>
        <%-include('nav.ejs')%>
        <div style="background-color: skyblue; height: 100%;">
            <h1 style="text-align: center;">WELCOME </h1>
        </div>
    </body>
</html>